body{
    margin: 0;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;
}

li{
    display: inline-block;
}

a{
    display: block;
    color: white;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
   transform: scale(1);
   transition: transform 0.5s;
}

a:hover{
    background-color:aqua;
    color: green;
    transform: scale(1.1);
    text-decoration:underline white 3px;
  

}